.config/*
.config/zsh/.zsh_history
.config/mpd/mpdstate
.config/mpd/log
.config/hypr/custom/scripts/mpvpaper_thumbnails
# !.config/hyde/
# !.config/hyde/wallbash/
# !.config/hyde/config.toml
# !.config/wlogout
!.config/zsh/
!.config/hypr
!.config/mpd/
!.config/mpv
!.config/noctalia
!.config/sptlrx
!.config/rmpc
!.config/qswitch
!.config/dolphinrc
!.config/starship
!.config/nvim
!.config/niri
!.config/spicetify
!.config/lrcsnc
!.config/MangoHud
!.config/waybar
!.config/tmux
!.config/eilmeldung
!.config/tmux/plugins
!.config/fish
!.config/matugen
!.config/systemd
!.config/lsd
!.config/kitty
