.config/*
!.config/hyde/
!.config/zsh
!.config/hypr
!.config/hyde/wallbash
!.config/hyde/config.toml
!.config/mpd
!.config/mpv
!.config/sptlrx
!.config/rmpc
!.config/starship
!.config/nvim
!.config/spicetify
!.config/lrcsnc
!.config/MangoHud
!.config/waybar
!.config/tmux
!.config/fish
!.config/wlogout
!.config/systemd
!.config/lsd
