include "execs.kdl"
include "env.kdl"
include "general.kdl"
include "keybinds.kdl"
include "opacity&blur.kdl"
include "windowrules.kdl"
include "noctalia.kdl"
include "./animations/swipe-window.kdl"
// include "transparency.kdl"
