prefer-no-csd
debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 1000
}

xwayland-satellite {
    path "xwayland-satellite"
}

input {
    keyboard {
        repeat-rate 50
        repeat-delay 300
        xkb {
            layout "us,ara"
            options "caps:super"
        }
    }
    touchpad {
        tap
        accel-speed 0.3
        disabled-on-external-mouse
    }
    mouse {
    }
    focus-follows-mouse max-scroll-amount="30%"
    workspace-auto-back-and-forth
}

output "eDP-1" {
    variable-refresh-rate on-demand=true
}

layout {
    gaps 4
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.00
    }
    default-column-width { proportion 0.50; }
    focus-ring {
        on
        width 2
    }
    shadow {
        on
        softness 30
        spread 5
        draw-behind-window true
        offset x=0 y=5
    }
    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 4
        width 2
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
    }
    insert-hint {
        on
    }
}
hotkey-overlay {
    skip-at-startup
}
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}
