layout {

    focus-ring {
        active-color   "#cbbeff"
        inactive-color "#141318"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cbbeff"
        inactive-color "#141318"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cbbeff"
        inactive-color "#493e76"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cbbeff80"
    }
}

recent-windows {
    highlight {
        active-color "#cbbeff"
        urgent-color "#ffb4ab"
    }
}
