layout {

    focus-ring {
        active-color   "#904b3a"
        inactive-color "#fff8f6"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#904b3a"
        inactive-color "#fff8f6"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#904b3a"
        inactive-color "#ffdad2"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#904b3a80"
    }
}

recent-windows {
    highlight {
        active-color "#904b3a"
        urgent-color "#ba1a1a"
    }
}
