// workspaces

workspace "Music"
workspace "Read"
workspace "Comm"
workspace "Net"

window-rule {
    match app-id=r#".*org\.kde\.okular.*"#
    default-column-width { proportion 1.00; }
}

window-rule {
    match app-id=r#".*calibre-ebook-viewer.*"# title=r#".*E-book viewer.*"#
    default-column-width { proportion 1.00; }
}

window-rule {
    match is-floating=true
    default-column-width { fixed 800; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id=r#"zen"#
    open-on-workspace "Net"
    default-column-width { proportion 1.00; }
}

window-rule {
    match app-id=r#".*org\.kde\.okular.*"#
    open-on-workspace "Read"
}

window-rule {
    match app-id=r#"vesktop|org\.telegram\.desktop"#
    open-on-workspace "Comm"
    default-column-width { proportion 1.00; }
}

window-rule {
    match app-id=r#"rmpc|lrc|spotify"#
    open-on-workspace "Music"
    open-focused false
    default-column-width { proportion 1.00; }
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    match is-floating=true
    min-width 100
    min-height 100
}

window-rule {
    draw-border-with-background false
}

window-rule {
    match title=r#"calibre\s+-\s+Preferences"#
    open-floating true
    default-column-width { fixed 1100; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id="^foot-dropterm$|^kitty-dropterm$"
    open-floating true
    default-floating-position x=0 y=15 relative-to="bottom"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.6; }
}

window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#
    min-width 876
}

window-rule {
    match app-id=r#"^org\.kde\.ark$|hyprland-share-picker"#
    open-floating true
    default-column-width { fixed 780; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id=r#"^(mpv)$|^(snappergui)$|^(imv)$|^(org\.kde\.gwenview)$|^(org.gnome.Shotwell)$|org\.kde\.kdeconnect\.handler|org\.kde\.kdeconnect\.app|^(kvantummanager)$|^(qt6ct)$|^(qt5ct)$|^(org.gnome.ark)$|^(pavucontrol)$|^(pavucontrol-qt)$|^(org.gnome.FileRoller)$|^(com.gabm.satty)$|^(org\.kde\.partitionmanager)$|^(org\.qbittorrent\.qBittorrent)$"#
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
}

// block-out
window-rule {
    match app-id=r#"(zen|^org\.kde\.dolphin|^mpv$)"# title=r#"(.*[wW]hats[aA]pp.*|.*[iI]nstagram.*|.*[Rr]eddit.*|.*[zZ]en\s*[bB]rowser\s*[pP]rivate\s*[Bb]rowsing.*|.*priv.*|.*\.p.*)"#
    block-out-from "screencast"
}

// keep all dolphin window titles rules at the end to overide the main dolphin window rule behaviour on top
window-rule {
    match app-id=r#"^org\.kde\.dolphin"# title=r#"^Properties.*"#
    open-floating true
    default-column-width { fixed 780; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id=r#"^org\.kde\.dolphin"#
    default-column-width { proportion 1.00; }
}

window-rule {
    // match app-id=r#"^org\.kde\.dolphin"# title=r#"(^Compressing a file\s*—\s*Dolphin$)|(.*[pP]rogress\s+[dD]ialog)|(.*[fF]ile\s+[aA]lready\s+[eE]xists.*)"#
    match app-id=r#"^org\.kde\.dolphin"# 
    match is-floating=true
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.20; }
}

window-rule {
    match app-id=r#"^org\.kde\.dolphin"# title=r#".*[Cc]ompressing.*"#
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.20; }
    open-floating true
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

layout {
  background-color "transparent"
}

overview {
  workspace-shadow {
    off
  }
}

