// workspaces

workspace "Music"
workspace "Files"
workspace "Comm"
workspace "Net"

window-rule {
    match app-id=r#"zen"#
    open-on-workspace "Net"
    default-column-width { proportion 1.00; }
}

window-rule {
    match app-id=r#"vesktop|org\.telegram\.desktop"#
    open-on-workspace "Comm"
    default-column-width { proportion 1.00; }
}

window-rule {
    match app-id=r#"rmpc|lrc|spotify"#
    // match title=r#"rmpc|lrc|spotify"#
    open-on-workspace "Music"
    open-focused false
    default-column-width { proportion 1.00; }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

// window-rule {
//     match app-id="^mpv$"
//     // variable-refresh-rate true
//     // block-out-from "screencast"
// }

window-rule {
    match is-floating=true
    min-width 100
    min-height 100
}

window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id="^foot-dropterm$|^kitty-dropterm$"
    open-floating true
    default-floating-position x=0 y=15 relative-to="bottom"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.6; }
}

window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#
    min-width 876
}

window-rule {
    match app-id=r#"^org\.kde\.ark$|hyprland-share-picker"#
    open-floating true
    default-column-width { fixed 780; }
    default-window-height { fixed 500; }
}

window-rule {
    match title=r#"^Compressing a file\s*—\s*Dolphin$"#
    open-floating true
    default-column-width { fixed 780; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id=r#"^org\.kde\.dolphin|mpv"#
    open-on-workspace "Files"
    open-focused true
    default-column-width { proportion 1.00; }
    default-window-height { proportion 1.00; }
}

window-rule {
    match app-id=r#"^(mpv)$|^(snappergui)$|^(imv)$|^(org.gnome.Shotwell)$|org\.kde\.kdeconnect\.handler|org\.kde\.kdeconnect\.app|^(kvantummanager)$|^(qt6ct)$|^(qt5ct)$|^(org.gnome.ark)$|^(pavucontrol)$|^(pavucontrol-qt)$|^(org.gnome.FileRoller)$|^(com.gabm.satty)$"#
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

layout {
  background-color "transparent"
}

overview {
  workspace-shadow {
    off
  }
}
